/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#environment-settings > table {
  width: 100%;
  border-spacing: 15px 0;
}

#environment-settings select {
  min-width: 100%;
}

#environment-settings input {
  display: block;
  margin: auto;
  width: 80%;
}

#engines-table {
  display: grid;
  grid-template-columns: repeat(9, max-content);
  padding-top: 1em;
  margin: 0 auto;
  width: max-content;
}

#engines-table > div {
  padding: 0.3em 1em;
}

#engines-table > div:nth-child(-n + 9) {
  font-weight: bold;
  text-align: center;
  padding-bottom: 0.5em;
}

#engines-table > div:nth-child(n + 9) {
  opacity: 0.8;
  cursor: pointer;
}

#engines-table > div:nth-child(9n + 17),
#engines-table > div:nth-child(9n + 18) {
  opacity: 1;
  text-align: center;
}

#engines-table > div > img {
  opacity: 1;
}

#engines-table > div > img[size="16"] {
  width: 16px;
  height: 16px;
}

#engines-table > div > img[size="24"] {
  width: 24px;
  height: 24px;
}

#engines-table > div:nth-child(n + 9):hover {
  opacity: 1;
}

#engines-table > div:nth-child(9n + 10):nth-child(18n + 10),
#engines-table > div:nth-child(9n + 11):nth-child(18n + 11),
#engines-table > div:nth-child(9n + 12):nth-child(18n + 12),
#engines-table > div:nth-child(9n + 13):nth-child(18n + 13),
#engines-table > div:nth-child(9n + 14):nth-child(18n + 14),
#engines-table > div:nth-child(9n + 15):nth-child(18n + 15),
#engines-table > div:nth-child(9n + 16):nth-child(18n + 16),
#engines-table > div:nth-child(9n + 17):nth-child(18n + 17),
#engines-table > div:nth-child(9n + 18):nth-child(18n + 18) {
  background: var(--in-content-box-background-odd);
}

#pb-message {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}

#private-browsing-engine {
  color: var(--in-content-text-color);
}
