/* Set the general styling for the table */
#engine-urls-table table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1rem;
  text-align: center;
  border: 1px solid lightgray;
}

#engine-urls-table th:first-child,
#engine-urls-table td:first-child {
  width: max-content;
}

/* Style for the table headers */
#engine-urls-table th {
  padding: 10px;
  border: 1px solid lightgray;
}

/* Style for the table cells */
#engine-urls-table td {
  padding: 10px;
  border: 1px solid lightgray;
}

/* Zebra striping for table rows */
#engine-urls-table tbody tr:nth-child(odd) {
  background: var(--in-content-box-background-odd);
}

/* Styling for the links within the table */
#engine-urls-table a {
  text-decoration: none;
}

#engine-urls-table a:hover {
  text-decoration: underline;
}
