/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

#locale-region-settings {
  display: grid;
  justify-content: space-between;
  align-items: center;
  width: max-content;
  margin: 0 auto;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(4, calc(25% - 6em / 4));
  column-gap: 2ch;
  width: 80%;
}

#application-name-wrapper,
#region-select-wrapper,
#locale-select-wrapper {
  grid-row: 1 / 3;
}

#locale-region-settings > div > select {
  min-width: 100%;
}

#locale-region-settings > div {
  text-align: center;
}

#locale-region-settings > div > label {
  display: block;
}

#locale-region-settings > div > input {
  width: calc(100% - 8px);
}

#engines-table {
  display: grid;
  grid-template-columns: repeat(7, max-content);
  padding-top: 1em;
  margin: 0 auto;
  width: max-content;
}

#engines-table > div {
  padding: 0.3em 1em;
}

#engines-table > div:nth-child(-n + 7) {
  font-weight: bold;
  text-align: center;
  padding-bottom: 0.5em;
}

#engines-table > div:nth-child(n + 7) {
  opacity: 0.8;
  cursor: pointer;
}

#engines-table > div:nth-child(n + 7):hover {
  opacity: 1;
}

#engines-table > div:nth-child(7n + 8):nth-child(14n + 8),
#engines-table > div:nth-child(7n + 9):nth-child(14n + 9),
#engines-table > div:nth-child(7n + 10):nth-child(14n + 10),
#engines-table > div:nth-child(7n + 11):nth-child(14n + 11),
#engines-table > div:nth-child(7n + 12):nth-child(14n + 12),
#engines-table > div:nth-child(7n + 13):nth-child(14n + 13),
#engines-table > div:nth-child(7n + 14):nth-child(14n + 14) {
  background: var(--in-content-box-background-odd);
}

#pb-message {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}

#private-browsing-engine {
  color: var(--in-content-text-color);
}
