@import url("chrome://global/skin/in-content/common.css");

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  max-height: 100vh;
  max-width: 100vw;

  --success-text-color: green;
  --error-text-color: red;
  --subtext-color: #888;
}

body {
  margin: 40px;
  color: var(--in-content-text-color);
}

body.loading {
  opacity: 0.2;
}

section {
  border: 1px solid var(--in-content-border-color);
  background-color: var(--in-content-box-background);
  padding: 10px;
  word-break: break-all;
  margin-bottom: 10px;
}

h1, h2, h3, h4 {
  margin-top: 0;
}

#settings {
  display: flex;
  flex-direction: row;
}

#locale-region-settings div {
  margin-right: 2em;
  text-align: center;
}

#settings label {
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  padding-bottom: .5em;
}

tbody tr {
  opacity: 0.8;
}
tbody tr:hover {
  opacity: 1;
  cursor: pointer;
}

tbody tr:nth-child(odd) {
  background: var(--in-content-box-background-odd);
}

td {
  padding: .3em 1em;
  border: 0;
}

#engines p {
  color: var(--in-content-deemphasized-text);
}

#private-browsing-engine {
  color: var(--in-content-text-color);
}

.params {
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#configuration textarea {
  width: 100%;
  height: 250px;
  line-height: 20px;
}

#locale-region-settings, #settings, #configuration header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#configuration header h2 {
  margin: 0;
}
