/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

@import url("chrome://global/skin/in-content/common.css");

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  max-height: 100vh;
  max-width: 100vw;

  --success-text-color: green;
  --error-text-color: red;
  --subtext-color: #888;
}

body {
  margin: 15px;
  color: var(--in-content-text-color);
}

body.loading {
  opacity: 0.2;
}

section {
  border: 1px solid var(--in-content-border-color);
  background-color: var(--in-content-box-background);
  padding: 10px;
  word-break: break-all;
  margin-bottom: 10px;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
}

#engines {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  padding: 0 15px;
}

#engines p {
  color: var(--in-content-deemphasized-text);
}

#tabs {
  display: grid;
  grid: auto-flow / 1fr 1fr 1fr;
  margin: 0 -15px;
  padding-bottom: 15px;
}

#compare-with[hidden] {
  display: none;
}

#reload-engines {
  width: max-content;
  margin: auto;
}

#by-engine,
#by-locales,
#compare-configs {
  margin: 0;
  padding: 0;
  background-color: var(--in-content-button-background);
}

#by-engine[selected],
#by-locales[selected],
#compare-configs[selected] {
  background-color: transparent;
}

#by-engine:hover,
#by-locales:hover,
#compare-configs:hover {
  background-color: var(--in-content-button-background-hover);
}

#tab-contents {
  margin: 1em;
  /* To stop vertical jumping when going through engine lists */
  min-height: 32em;
}

#by-locales-tab,
#by-engine-tab,
#compare-configs-tab {
  display: none;
}

#by-locales-tab[selected],
#by-engine-tab[selected],
#compare-configs-tab[selected] {
  display: block;
}

.params {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
