@import url("chrome://global/skin/in-content/common.css");

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  max-height: 100vh;
  max-width: 100vw;

  --success-text-color: green;
  --error-text-color: red;
  --subtext-color: #888;
}

body {
  margin: 40px;
  color: var(--in-content-text-color);
}

body.loading {
  opacity: 0.2;
}

section {
  border: 1px solid var(--in-content-border-color);
  background-color: var(--in-content-box-background);
  padding: 10px;
  word-break: break-all;
  margin-bottom: 10px;
}

h1, h2, h3, h4 {
  margin-top: 0;
}

#settings {
  display: flex;
  flex-direction: row;
}

#locale-region-settings div {
  margin-right: 2em;
  text-align: center;
}

#locale-region-settings label {
  display: block;
}

#engines-table {
  display: grid;
  grid-template-columns: repeat(4, max-content) auto;
}

#engines-table > div {
  padding: .3em 1em;
}

#engines-table > div:nth-child(-n+5) {
  font-weight: bold;
  text-align: center;
  padding-bottom: .5em;
}

#engines-table > div:nth-child(n+5) {
  opacity: 0.8;
  cursor: pointer;
}

#engines-table > div:nth-child(n+5):hover {
  opacity: 1;
}

#engines-table > div:nth-child(5n+6):nth-child(10n+6),
#engines-table > div:nth-child(5n+7):nth-child(10n+7),
#engines-table > div:nth-child(5n+8):nth-child(10n+8),
#engines-table > div:nth-child(5n+9):nth-child(10n+9),
#engines-table > div:nth-child(5n+10):nth-child(10n+10) {
  background: var(--in-content-box-background-odd);
}

#engines p {
  color: var(--in-content-deemphasized-text);
}

#private-browsing-engine {
  color: var(--in-content-text-color);
}

.params {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#configuration textarea {
  width: 100%;
  height: 250px;
  line-height: 20px;
}

#locale-region-settings, #settings, #configuration header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#configuration header h2 {
  margin: 0;
}

.radio > label {
  display: inline-block;
}

#reload-div {
  display: flex
}

#reload-div > button {
  margin-right: auto;
  margin-left: auto;
}
